body,
html,
#root {
  margin: 0;
  font-family: "padmaa-Bold.1.1"-apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #eee;
  overflow: hidden;
  .main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px 35px;
  }
  .main-form {
    min-width: 300px;
    max-width: 400px;
    width: 50%;

    padding: 30px;
    border: 1px dotted #bbb;
    border-radius: 5%;

    .button-holder {
      width: 100%;
      text-align: center;
    }
    .link {
      padding: 5px 4px;
      margin-top: 15px;
      text-align: center;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
