.whole {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 59% 40%;
      grid-template-columns: 59% 40%;
      grid-template-areas: "L R";
}

.whole .main-post-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: L;
  background-color: #eeeeee;
  width: 100%;
  min-height: 100%;
  border-right: 2px solid #444;
  padding: 25px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whole .main-post-container .main-posts {
  max-width: 750px;
  min-width: 400px;
  width: 72%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  padding-right: 15px;
}

.whole .main-post-container .main-posts .post {
  width: 100%;
  font-size: 32px;
  height: 9rem;
  background-color: white;
  margin: 10px 15px 5px 0px;
  padding: 7px;
  border: 2px solid #ccc;
  color: black;
}

.whole .main-post-container .main-posts .post .title {
  font-size: 32px;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.whole .main-post-container .main-posts .post .body {
  padding: 7px;
  margin-top: -8px;
  font-size: 24px;
}

.whole .main-post-container .main-posts .post .author {
  font-size: 18px;
  padding-bottom: 7px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-right: 7px;
  text-align: right;
}

.whole .right-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: R;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-rows: 35% 65%;
      grid-template-rows: 35% 65%;
  position: relative;
}

.whole .right-wrapper .logout-button-holder {
  position: absolute;
  left: 92%;
  top: 10px;
  font-size: 21px;
}

.whole .right-wrapper .logout-button-holder .logout-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 4px 5px;
}

.whole .right-wrapper .logout-button-holder .logout-button:hover {
  background-color: #999;
  border: 1px solid #777;
}

.whole .right-wrapper .logout-button-holder .logout-button:active {
  background-color: #666;
  border: 1px solid #444;
}

.whole .right-wrapper .user-details {
  width: 100%;
  min-height: 100%;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
}

.whole .right-wrapper .user-details #general-information {
  padding: 5px;
  color: black;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 7px;
}

.whole .right-wrapper .user-details #general-information .information-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-right: 15px;
}

.whole .right-wrapper .user-details #general-information .information-field .label {
  display: block;
  text-align: right;
  padding-right: 6px;
  width: 8rem;
}

.whole .right-wrapper .user-details #general-information .input {
  width: 10.5rem;
  height: 1.4rem;
  color: black;
  border: none;
  background-color: transparent;
}

.whole .right-wrapper .user-details #general-information .input-enabled {
  background-color: white;
}

.whole .right-wrapper .user-details #general-information .edit-button {
  background-color: #ffffff;
  color: black;
}

.whole .right-wrapper .user-details #general-information .edit-button:hover {
  background-color: #dddddd;
}

.whole .right-wrapper .user-details #general-information .smaller-font {
  font-size: 16px;
}

.whole .right-wrapper .user-details #profile-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 7px 0px 7px;
}

.whole .right-wrapper .user-details #profile-picture img {
  width: 100%;
  max-height: 85%;
  background-color: green;
  height: auto;
}

.whole .right-wrapper .user-details #profile-picture #profile-form {
  margin: 5px;
  padding-left: 4px;
}

.whole .right-wrapper .user-details #profile-picture #profile-form * {
  margin: 2px;
}

.whole .right-wrapper .user-details #profile-picture #profile-form .file-input {
  max-width: 250px;
}

.whole .right-wrapper .user-details #profile-picture #profile-form .btn {
  padding: 5px 6px;
  border-radius: 5px;
}

.whole .right-wrapper .poster {
  border-top: solid 2px #555;
  width: 100%;
  height: 100%;
}

.whole .right-wrapper .poster #poster {
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.whole .right-wrapper .poster #poster .form-control {
  width: 35rem;
  border: 1px solid black;
  text-align: center;
}

.whole .right-wrapper .poster #poster .textarea {
  min-height: 15rem;
  text-align: left;
}

.whole .right-wrapper .poster #poster input {
  border-radius: 5px;
}

.whole .right-wrapper .poster #poster * {
  margin: 4px;
}

.whole .right-wrapper .poster .btn {
  border-radius: 5px;
}

.post {
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "T T T" "B B B" ". . A";
}

.post .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: T;
}

.post .body {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: B;
}

.post .author {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: A;
}
/*# sourceMappingURL=main.css.map */